* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

:root {
  --primary-color: #21a5d5;
  --logos-color: #6ec1e4;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.header-parent {
  background-color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 25px;
}

.h-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.email,
.location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.e-text,
.l-text {
  color: white;
}

.h-right {
  color: var(--logos-color);
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
}

.twitter:hover,
.facebook:hover,
.linkedin:hover {
  color: #00b6a1;
}

.twitter {
  color: black;
}

/* nav */
.nav-parent {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.3rem;
  text-transform: capitalize;
}

.contactus,
.book-a-demo {
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: bolder;
  padding: 15px 30px;
  text-transform: capitalize;
  border-radius: 20px;
  transition: all 0.4s;
}

.arrow {
  font-weight: bolder;
}

nav img:hover {
  cursor: pointer;
}

nav ul li:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.contactus:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.list2 {
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  gap: 2rem;
  /* flex-wrap: wrap; */
}

.hero-left h1 {
  margin: 1.3rem 0;
  font-size: 2rem;
}

.hero p {
  font-size: 1.3rem;
}

.solution {
  background-color: var(--primary-color);
  color: white;
  text-transform: capitalize;
  text-align: center;
  padding: 4rem 0.8rem;
}

.s-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.solution h2 {
  font-size: 2rem;
}

.our-cutomers {
  padding: 4rem;
  text-transform: capitalize;
  width: 43%;
}

.our-cutomers p {
  font-size: 1.3rem;
  color: rgb(118, 114, 114);
}

.our-cutomers h2 {
  font-size: 3rem;
  margin: 2rem 0;
}

.what-you-get-with-simplex {
  background-color: var(--primary-color);
  text-transform: capitalize;
  padding: 4rem 0;
}
.what-you-get-with-simplex h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
}
.top-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}

.bottom-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  padding: 1rem;
}

/* ecommerce */

.ecommerce {
  width: 70%;
  margin: 2rem auto;
}
.ecommerce-headings {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  text-transform: uppercase;
}

.ecommerce-headings h2 {
  font-weight: lighter;
  padding: 1rem;
}
.ecommerce-headings h2:nth-of-type(1) {
  color: var(--primary-color);
  border: 1px solid lightgray;
  border-bottom: 1px solid white;
}
.ecommerce-box {
  border: 1px solid lightgray;
  padding: 1rem;
  margin-top: -0.9px;
}

/* powerup */

.powerup {
  display: flex;
  width: 70%;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
}

.p-left h3 {
  color: rgb(118, 116, 116);
  font-weight: lighter;
}

.p-left h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 1rem auto;
}

.p-left p {
  color: rgb(118, 116, 116);
  font-size: 1.3rem;
  margin: 1rem auto;
}

/* mobile friendly */

.mobile-friendly {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-left,
.m-right {
  width: 100%;
}
.m-right {
  margin-top: -150px;
}

.m-right h2 {
  font-weight: lighter;
  font-size: 2rem;
  margin: 1rem auto;
}

.m-right p {
  color: rgb(118, 116, 116);
  font-size: 1.3rem;
  margin: 1rem auto;
}

/* kiosk */

.kiosk {
  width: 70%;
  margin: 2rem auto;
  display: flex;
}

.k-left,
.k-right {
  width: 100%;
}

.k-left h2 {
  font-weight: lighter;
  font-size: 2.3rem;
  text-transform: capitalize;
  margin: 2rem auto;
}

.k-left p {
  color: rgb(118, 116, 116);
  font-size: 1.4rem;
}

.k-left p:nth-of-type(1) {
  margin-bottom: 2rem;
}

@media (max-width: 1711px) {
  .header {
    width: 80%;
    margin: auto;
    padding: 10px 0;
  }

  nav {
    width: 80%;
    margin: auto;
    padding: 10px 0;
  }
}

@media (max-width: 1200px) {
  .header {
    width: 100%;
    margin: auto;
    padding: 10px 0;
  }

  nav {
    width: 100%;
    margin: auto;
    padding: 10px 0;
  }
}

@media (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .list1 {
    display: block;
    font-size: 1.5rem;
    font-weight: bolder;
    border: 2px solid rgb(28, 27, 27);
    border-radius: 5px;
  }

  .powerup,
  .p-left,
  .p-right,
  .mobile-friendly,
  .m-left,
  .m-right,
  .kiosk {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .top-grid,
  .bottom-grid {
    flex-direction: column;
    gap: 1rem;
  }

  .what-you-get-with-simplex {
    padding: 2rem 0;
  }
}

@media (max-width: 873px) {
  .ecommerce {
    width: 100%;
  }

  .powerup {
    flex-direction: column;
    text-align: center;
  }

  .mobile-friendly,
  .kiosk {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }

  .m-right {
    margin-top: -1px;
  }
}

@media (max-width: 730px) {
  .our-cutomers {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .hero h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 630px) {
  .our-cutomers h2 {
    font-size: 2rem;
  }
}

@media (max-width: 620px) {
  .ecommerce {
    border: 1px solid lightgray;
  }

  .ecommerce-headings {
    flex-direction: column;
    gap: 0.2rem;
  }

  .ecommerce-headings h2 {
    border: 1px solid lightgray;
  }
}

@media (max-width: 590px) {
  .h-left {
    display: none;
  }

  .contactus {
    display: none;
  }
  .twitter {
    color: #6ec1e4;
  }

  .list1 {
    display: none;
  }

  .list2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bolder;
    border: 2px solid rgb(28, 27, 27);
    border-radius: 5px;
  }
}

@media (max-width: 500px) {
  .hero {
    flex-direction: column;
  }

  .hero-left {
    text-align: center;
  }

  .solution h2 {
    font-size: 1.5rem;
  }

  .our-cutomers {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 4rem 0;
  }
}

@media (max-width: 400px) {
  .s-cards {
    flex-direction: column;
  }

  .solution {
    padding: 3rem 0;
  }
}
