* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #21a5d5;
  --logos-color: #6ec1e4;
}

body {
  font-family: sans-serif;
}

.header-parent {
  background-color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 25px;
}

.h-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.email,
.location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.e-text,
.l-text {
  color: white;
}

.h-right {
  color: var(--logos-color);
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
}

.twitter:hover,
.facebook:hover,
.linkedin:hover {
  color: #00b6a1;
}

.twitter {
  color: black;
}

/* nav */
.nav-parent {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.3rem;
  text-transform: capitalize;
}

.contactus,
.book-a-demo {
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: bolder;
  padding: 15px 30px;
  text-transform: capitalize;
  border-radius: 20px;
  transition: all 0.4s;
}

.arrow {
  font-weight: bolder;
}

nav img:hover {
  cursor: pointer;
}

nav ul li:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.contactus:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.list2 {
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  gap: 2rem;
}

.hero-left h1 {
  margin: 1.3rem 0;
  font-size: 2rem;
}

.hero p {
  font-size: 1.3rem;
}

.solution {
  background-color: var(--primary-color);
  color: white;
  text-transform: capitalize;
  text-align: center;
  padding: 4rem 0.8rem;
}

.s-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.solution h2 {
  font-size: 2rem;
}

.our-cutomers {
  padding: 4rem;
  text-transform: capitalize;
  width: 43%;
}

.our-cutomers p {
  font-size: 1.3rem;
  color: rgb(118, 114, 114);
}

.our-cutomers h2 {
  font-size: 3rem;
  margin: 2rem 0;
}

@media (max-width: 1711px) {
  .header {
    width: 80%;
    margin: auto;
    padding: 10px 0;
  }

  nav {
    width: 80%;
    margin: auto;
    padding: 10px 0;
  }
}

@media (max-width: 1200px) {
  .header {
    width: 100%;
    margin: auto;
    padding: 10px 0;
  }

  nav {
    width: 100%;
    margin: auto;
    padding: 10px 0;
  }
}

@media (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .list1 {
    display: block;
    font-size: 1.5rem;
    font-weight: bolder;
    border: 2px solid rgb(28, 27, 27);
    border-radius: 5px;
  }
}

@media (max-width: 730px) {
  .our-cutomers {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .hero h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 630px) {
  .our-cutomers h2 {
    font-size: 2rem;
  }
}
@media (max-width: 590px) {
  .h-left {
    display: none;
  }

  .contactus {
    display: none;
  }
  .twitter {
    color: #6ec1e4;
  }

  .list1 {
    display: none;
  }

  .list2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bolder;
    border: 2px solid rgb(28, 27, 27);
    border-radius: 5px;
  }
}

@media (max-width: 500px) {
  .hero {
    flex-direction: column;
  }

  .hero-left {
    text-align: center;
  }

  .solution h2 {
    font-size: 1.5rem;
  }

  .our-cutomers {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 4rem 0;
  }
}

@media (max-width: 400px) {
  .s-cards {
    flex-direction: column;
  }

  .solution {
    padding: 3rem 0;
  }
}
